.DS_Store

# Large files
hueforge/test2.pngW100H100T2V4B0A0C0PS (3).stl
houseHold/Head_with_brim_high_detail.stl
houseHold/Bionic Hand art - Standard - 6293669.zip
hueforge/Lithophane_Screenshot 2023-12-24 at 1.48.31 AM.png.stl
houseHold/6_North_America.zip
houseHold/Body_high_detail.stl
hueforge/Lithophane_Screenshot 2023-12-24 at 1.48.31 AM.png (1).stl
hueforge/Lithophane_fd.png.stl
houseHold/Moss Letters for names - 6045391.zip

# General large file types
*.stl
*.zip